<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p id="about">
microFAVE is an attempt at creating a simple, better means of sharing with others what you love. Think of it as a modern day show-and-tell. Whether it's a new song you think others must hear or a pair of shoes you've got your eye on, we have a feeling others want to hear what's currently occupying your mind.
</p>
<p id="about">
This is a beta version, so bugs may abound. Please feel free to let us know what works, what doesn't, and what would make microFAVE better by using our [contact page].

Thanks and have fun!
</p>
