
@font-face {
  font-family: 'Icomoon';
  src:url('icomoon.eot');
  src:url('icomoon.eot?#iefix') format('embedded-opentype'),
    url('icomoon.woff') format('woff'),
    url('icomoon.ttf') format('truetype'),
    url('icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
};

/* ====================UNIVERSAL==================== */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background: #1b1b1b;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

ol {
  padding-left: 0px;
}

.row section form {
  overflow: auto;
  text-align:center;
}

input#user_username,
input#user_name,
input#user_zip,
input#user_email,
input#user_password,
input#user_password_confirmation,
 {width:30%;}
select#user_dob_2i {width:14%;}
select#user_dob_3i {width:7%;}
select#user_dob_1i {width:9%;}

textarea {
  resize: vertical;
}

/* ====================TYPOGRAPHY===================== */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color:gray;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  line-height:1.1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  border-bottom: dimgray;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.2em;
  line-height: 1.7em;
}

#editgravatar {
  float-left:auto !important;
  float-right:auto !important;
}

p#about, form label, form input {
  color:gray;
  text-align:center;
}


ul.users {
  color:gray;
}

/* ====================HEADER==================== */

#logo {
  font-family: 'Playball', cursive;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-variant:small-caps;
  font-weight:bold;
  color: white;
  letter-spacing: 0px;
  padding-top: 9px;
  line-height: 1;
  &:hover {color: white;text-decoration: none;
  }
}

a .icomoon-home, .icomoon-question, .icomoon-users, .icomoon-cog, .caret {color:white;&:hover {color:gray;}}

/* ====================FOOTER==================== */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid dimgray;
  color: gray;
  a {color: gray;&:hover {  color: dimgray;}
  }
  small {float: left;
  }
  ul {float: right;list-style: none;li {  float: left;  margin-left: 10px;}
  }
}

/* ====================DEBUGGER==================== */

.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
  @include box_sizing;
}

/* ====================SIDEBAR==================== */

aside {
  section {padding: 10px 0;border-top: 1px solid gray;&:first-child {  border: 0;  padding-top: 0;}span {  display: block;  margin-bottom: 3px;  line-height: 1;}h1 {  font-size: 1.4em;  text-align: left;  letter-spacing: -1px;  margin-bottom: 3px;  margin-top: 0px;}
  }
}

.stats {
  a {
padding: 0 10px;border-left: 1px solid dimgray; color: dimgray;&:first-child {  padding-left: 0;  border: 0;}&:hover {  text-decoration: none;  color: gray;}
  }
  strong {display: inline;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {margin: 1px 1px;
  }
}

/* ====================FORMS==================== */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#micropost_content {width:50%; line-height:1;}
#micropost_item {width:35%; vertical-align:top;}
#micropost_category {width:15%;}

#error_explanation {
  color: #f00;
  ul {list-style: none;margin: 0 0 18px 0;
  }
}
n
.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* ====================USER PAGE==================== */

.users {
  list-style: none;
  margin: 0;
  li {overflow: auto;padding: 10px 0;border-top: 1px solid gray;&:last-child {  border-bottom: 1px solid gray;}
  }
}

/* ====================HOME PAGE==================== */

.microfaves {
  list-style: none;
  margin: 10px 0 0 0;
  li {padding: 3px 3px; overflow:auto; list-style:none; margin:0;
  }
}

.microfave {

  margin-left:auto;
  margin-right:auto;
}

.inline {display:inline-block !important; vertical-align:top;} /*checked*/
.block {display:block;vertical-align:top;} /*checked*/

.content {
  width:100%;
  font-size:1.2em;
  margin-left:auto;
  margin-right:auto;
}


.item {

  font-size:1.2em;
  margin-left:auto;
  margin-right:auto;
  font-weight: bold;
  font-variant: small-caps;
  vertical-align:text-top;
}

.user:link {
  color: Black;
  font-weight: bold;
}


.category {
  color: Black;
  font-weight: bold;
  font-variant: small-caps;
  padding-right: 5px;
}

.timestamp {
  color: DimGray;
  font-style:italic;
  font-size: 0.9em;
}

delete.a:link {
  color: blue;
}


.gravatar {
  margin-right: 10px;
}

.allusers section {display:block;}

aside {
  textarea {height: 100px;margin-bottom: 5px;
  }
}


h3 {
  font-variant: small-caps;
  padding-bottom:7px;
  margin-left:auto;
  margin-right:auto;
}

span.category, span.buttons {
  float:right !important;
}

/*
div.span4 {
  display: inline-block;
}

div#inlineblock {
  display: inline-block;
}

*/

span {
  margin-left: auto !important;
  margin-right: auto !important;
}

div.Music {background: #ff9966; margin:4px;}
div.Book {background: #cc9966; margin:4px;}
div.Movie {background: #99ff99; margin:4px;}
div.TV {background: #ccff99; margin:4px;}
div.Food {background: #ffff66; margin: 4px;}
div.Website {background: #99ccff; margin: 4px;}
div.App {background: #ccccff; margin:4px;}
div.Fashion {background: #ff9999; margin:4px;}
div.Product {background: #f0f0f0; margin: 4px;}
div.Other {background: AntiqueWhite; margin: 4px;}


/*====================ICOMOON FONTS====================*/


i {padding-left:2px; padding-right:10px; font-size:1.2em;}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-home:before {content: "\e600";}
.icomoon-pencil:before {content: "\e601";}
.icomoon-camera:before {content: "\e602";}
.icomoon-play:before {content: "\e603";}
.icomoon-music:before {content: "\e604";}
.icomoon-bullhorn:before {content: "\e605";}
.icomoon-book:before {content: "\e606";}
.icomoon-profile:before {content: "\e607";}
.icomoon-cart:before {content: "\e608";}
.icomoon-address-book:before {content: "\e609";}
.icomoon-envelop:before {content: "\e60a";}
.icomoon-location:before {content: "\e60b";}
.icomoon-map:before {content: "\e60c";}
.icomoon-tv:before {content: "\e60d";}
.icomoon-mobile:before {content: "\e60e";}
.icomoon-screen:before {content: "\e60f";}
.icomoon-users:before {content: "\e610";}
.icomoon-user:before {content: "\e611";}
.icomoon-bubbles:before {content: "\e612";}
.icomoon-search:before {content: "\e613";}
.icomoon-cog:before {content: "\e614";}
.icomoon-settings:before {content: "\e615";}
.icomoon-unlocked:before {content: "\e616";}
.icomoon-lock:before {content: "\e617";}
.icomoon-bars:before {content: "\e618";}
.icomoon-remove:before {content: "\e619";}
.icomoon-fire:before {content: "\e61a";}
.icomoon-food:before {content: "\e61b";}
.icomoon-numbered-list:before {content: "\e61c";}
.icomoon-link:before {content: "\e61d";}
.icomoon-attachment:before {content: "\e61e";}
.icomoon-heart:before {content: "\e61f";}
.icomoon-warning:before {content: "\e620";}
.icomoon-question:before {content: "\e621";}
.icomoon-exit:before {content: "\e622";}
.icomoon-plus:before {content: "\e623";}
.icomoon-minus:before {content: "\e624";}
.icomoon-info:before {content: "\e625";}
.icomoon-share:before {content: "\e626";}
.icomoon-google-plus:before {content: "\e627";}
.icomoon-twitter:before {content: "\e628";}
.icomoon-facebook:before {content: "\e629";}
.icomoon-soundcloud:before {contenth: "\e62a";}
.icomoon-stumbleupon:before {content: "\e62b";}
.icomoon-reddit:before {content: "\e62c";}
.icomoon-lastfm:before {content: "\e62d";}
.icomoon-pinterest:before {content: "\e62e";}
.icomoon-user-add:before {content: "\e62f";}
.icomoon-export:before {content: "\e630";}
.icomoon-trash:before {content: "\e631"; color:red !important;}
.icomoon-t-shirt:before {content: "\e632";}
a .icomoon-facebook {color: #3b5997;}
a:hover .icomoon-facebook{color: #005580;}
a .icomoon-google-plus {color: #d64937;}
a:hover .icomoon-google-plus{color: #005580;}
a .icomoon-twitter {color: #41b7d8;}
a:hover .icomoon-twitter{color: #005580;}
a .icomoon-youtube {color: #d64937;}
a:hover .icomoon-youtube{color: #005580;}
a .icomoon-stumbleupon {color: #eb4924;}
a:hover .icomoon-stumbleupon{color: #005580;}
a .icomoon-pinterest {color: #cb2027;}
a:hover .icomoon-pinterest{color: #005580;}

