<footer class="footer">
  <small>
    Microfave beta version 0.0
  </small>
  <nav>
    <ul>
      <li><%= link_to raw('<i class="icomoon-info"></i>'),   about_path %></li>
      <li><%= link_to raw('<i class="icomoon-envelop"></i>'), contact_path %></li>
      <li>[Placeholder]</li>
    </ul>
  </nav>
</footer>
